<!-- <h2>Editar Tarea: {{tarea.id}}</h2>

<div>
    <strong>Nombre:</strong> {{tarea.nombre}}<br>
    <strong>Fecha:</strong> {{tarea.fecha | date}}<br>
    <strong>Estado:</strong> {{ tarea.estado ? 'Terminado' : 'Pendiente' }}
    <button (click)="cambiarEstado()">
        Cambiar Estado
    </button>
</div>

<h3>Participantes</h3>
<ul>
    <li *ngFor="let persona of tarea.persona; let i = index">
        <strong>{{persona.nombre}} ({{persona.edad}} años)</strong>
        <button (click)="eliminarPersona(i)">Eliminar</button>
    </li>
</ul>

<button (click)="guardarCambios()">Guardar Cambios</button> -->